/**
 *
 * Filename:  _services.scss
 * Author:    Martin Dwyer
 * Purpose:   Provides styling for the Services component
 * Date Mod:  December 8, 2021
 *
 */


@use "../custom"as *;
@use "../components/mixins"as *;
@use "../components/mixins";

#about-page {
    background: linear-gradient(rgba($white, 0) 0%,
            rgba($white, 0.1) 20%,
            rgba($white, 0.5) 40%,
            rgba($white, 0.7) 60%,
            rgba($white, 0.9) 80%,
            rgba($white, 1) 100%);

    position: relative;
    padding: 1rem 0;
    padding-top: 15vh;
    padding-bottom: 3rem;

    .display-3 {
        color: #fff !important;
    }

    &>div>div.container>div.row {
        background-color: rgba(#fff, .9);
        padding: 3rem 0rem 3rem 2rem;
        border-radius: 8px;

    }

    .about-images img {
        max-width: 80% !important;
        height: auto !important;
        margin: 0.5rem auto !important;
    }

    .about-images {
        padding-top: 4rem;
    }

    .about p {
        font-size: 1.2rem;

    }

    .about img {
        float: left;
        margin-top: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        width: 40% !important;
        min-width: 250px !important;

    }
}

#post-2>div>div>div {
    margin-left: 0;
    margin-right: 0;


}

#post-2 {
    .entry-header {

        .post-thumb {
            img {
                width: 50% !important;
                margin-bottom: 3rem;
                border-radius: 8px;
                transform: scale(0.9) rotate(-5deg);
                box-shadow: 2rem 2rem 2rem rgba(0, 0, 0, .7);
                transition: all 2s;

                &:hover {
                    transform: scale(1.2) rotate(0deg);
                    box-shadow: 2rem -2rem 2rem rgba(0, 0, 0, .7);

                }
            }
        }

        .entry-title {
            display: none;
        }

    }

    a {
        text-decoration: none !important;

        em {
            text-decoration: none;
        }
    }
}