/**
 * Filename:  _portfolio.scss
 * Author:    Martin Dwyer
 * Purpose:   Provides styling for the portfolio component, noting
 *            that these styles change substantially whether it is
 *            a portfolio or a gallery
 * Date Mod:  December 8, 2021
 *
 */

@use '../custom' as *;
@use '../components/mixins' as *;

.post-page {
  background-color: #f2f2f2;
}

.post,
.single {
  display: flex;
  flex-direction: column;

  .site-main {
    max-width: 1400px;

    article.post {
      max-width: 1000px;
      display: block;
      margin: 0 auto;
    }
  }

  a {
    text-decoration: none !important;

    em {
      text-decoration: none;
    }
  }

  .post-text {
    padding: 0rem 1rem;
    border-radius: 8px;
    width: 90%;
    margin: 0 auto;

    .container {
      max-width: 1000px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      width: 100%;
      max-width: 1000px;
      margin: 1rem auto;
    }

    p {
      text-align: left;
    }

    h3,
    h4,
    h5 {
      font-weight: 600;
    }

    h3.post-title {
      font-size: 2.5rem;
      font-weight: 600;
      text-align: center;
      margin-bottom: 2rem;
    }

    blockquote {
      width: 80%;
      max-width: 800px;
      margin: 2rem auto;
      padding-left: 2rem;
      border-left: 0.5rem solid rgba($primary, 0.6);
      border-radius: 8px;
      font-style: italic;
    }
  }

  .entry-header {
    .post-thumb {
      img {
        width: 50% !important;
        margin-bottom: 3rem;
        border-radius: 8px;
        transform: scale(0.9) rotate(-5deg);
        box-shadow: 2rem 2rem 2rem rgba(0, 0, 0, 0.7);
        transition: all 2s;

        &:hover {
          transform: scale(1.2) rotate(0deg);
          box-shadow: 2rem -2rem 2rem rgba(0, 0, 0, 0.7);
        }
      }
    }
  }

  .fl-row-content-wrap,
  .fl-module,
  .fl-module-content,
  .fl-row,
  .fl-row-content {
    margin-left: 0;
    padding-left: 0;

    margin-right: 0;
    padding-right: 0;

    max-width: 100% !important;
  }

  .navigation.post-navigation {
    background-color: $white;
    border: none;

    a {
      border-bottom: none;
      font-size: 2rem;
      margin-bottom: 2rem;
      color: $primary;
    }
  }

  .no-comments {
    color: $primary;
    text-align: center;
    padding-bottom: 2rem;
  }

  #post-1 {
    .photo-row {
      max-width: 800px;
      margin: 0 auto;
      img {
        width: 30%;
        min-width: 325px;
        box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.7);
        border-radius: 8px;
        margin-bottom: 2rem;
        transform: scale(0.9);
        transition: all 2s;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
    #before-image {
      img {
        width: 30%;
        min-width: 325px;
        box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.7);
        border-radius: 8px;
        margin-bottom: 2rem;
        transform: scale(0.9);
        transition: all 2s;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    #after-image {
      img {
        width: 50%;
        min-width: 325px;
        box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.7);
        border-radius: 8px;
        margin-bottom: 2rem;
        transform: scale(0.9);
        transition: all 2s;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  #post-757 {
    > div.container > img {
      margin-left: 8%;
    }
  }

  #post-1299 {
    table {
      margin-left: 8%;
    }
  }

  #post-883 {
    img {
      display: block;
      margin: 2rem auto;
      width: 40%;
      height: auto;
    }

    table {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    #training-table {
      tr {
        padding-top: 1rem;
      }
    }
  }

  #post-808 {
    img {
      max-width: 40%;
      height: auto;
    }

    #post-808 > div.container > p:nth-child(22) > a > img {
      float: left;

      margin-right: 1rem;
      margin-bottom: 1rem;
    }
  }

  #post-808 > div.container > p:nth-child(22) > a > img {
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  #post-1120 > div.container > a > img {
    max-width: 60%;
    height: auto;
    display: block;
    margin: 1rem auto;
  }

  #post-1120 > div.container > p:nth-child(6) > img,
  #post-1120 > div.container > p:nth-child(3) > img {
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  #post-310 > div.container > p:nth-child(6) > a > img {
    width: 40%;
    height: auto;
    display: block;
    margin: 2rem auto;
  }
}
